<span class="tooltip-span" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=@TooltipText>?</span>

@code {
    [Parameter]
    public string? TooltipText { get; set; } = "Default tooltip text";
}