@rendermode InteractiveServer

<div class="d-flex gap-3 px-2 py-2 align-items-center heir-list-item">
    <div class="d-flex flex-column">
        <label for="filter1">@Name</label>
        <label style="font-size: 13px; color: slategrey;">@Relation</label>
    </div>
</div>

@code {
    [Parameter]
    public string Name {get; set; } = "Default name";

    [Parameter]
    public string Relation { get; set; } = "Barn";
}