<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between py-3 sticky-top">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2">
            <a href="/" class="navbar-brand primary-font" style="font-size: 25px;">Arvefordeleren</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#faq">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> FAQ<span style="font-size: 75%;">s</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#about-us">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Om os
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="test">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kom i gang!
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>