@page "/assetmanager"
@using System.Collections.Generic
@using Arvefordeleren_ClassLibrary.Models

<h1>Asset Manager</h1>

<AssetForm OnAssetCreated="HandleAssetCreated" />
<AssetUpdater SelectedAsset="@selectedAsset" OnAssetUpdated="HandleAssetUpdated" />

@if (showCreateConfirmation)
{
    <p>Asset Created Successfully!</p>
}
@if (showUpdateConfirmation)
{
    <p>Asset Updated Successfully!</p>
}
@if (showDeleteConfirmation)
{
    <p>Asset Deleted Successfully!</p>
}
@if (assets.Any())
{
    <h3>Added Assets:</h3>
    <ul>
        @foreach (var asset in assets)
        {
            <li>
                <span>@asset.Name - Value: @asset.Value - Estate: @asset.SeparateEstate</span>
                <button @onclick="() => UpdateAsset(asset)">Opdater</button>
                <button @onclick="() => DeleteAsset(asset)">Slet</button>
            </li>
        }
    </ul>
    <button @onclick="() => CreateAsset()">Opret</button>
}

@code {
    private bool showCreateConfirmation = false;
    private bool showUpdateConfirmation = false;
    private bool showDeleteConfirmation = false;
    private List<Asset> assets = new List<Asset>();
    private Asset selectedAsset;

    private void HandleAssetCreated()
    {

        assets = AssetRepository.GetAll();
        showCreateConfirmation = true;
    }
    private void UpdateAsset(Asset asset)
    {
        selectedAsset = asset;
    }

    private void HandleAssetUpdated()
    {
        selectedAsset = null;
        showUpdateConfirmation = true;
    }

    private void DeleteAsset(Asset asset)
    {
        AssetRepository.Delete(asset);
        assets = AssetRepository.GetAll();
        showDeleteConfirmation = true;
    }
}