@page "/joint-will"
@using Arvefordeleren_ClassLibrary.Models

<h4>Testamente for Fælles</h4>
<h5>Person 1</h5>
<EditForm Model="testator" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="firstName1" class="form-label">Fornavn</label>
        <InputText id="firstName1" class="form-control" @bind-Value="testator.FirstName" />
    </div>
    <div class="mb-3">
        <label for="lastName1" class="form-label">Efternavn</label>
        <InputText id="lastName1" class="form-control" @bind-Value="testator.LastName" />
    </div>
    <div class="mb-3">
        <label for="dateOfBirth1" class="form-label">Fødselsdag</label>
        <InputDate id="dateOfBirth1" class="form-control" @bind-Value="testator.DateOfBirth" />
    </div>
    <div class="mb-3">
        <label for="address1" class="form-label">Adresse</label>
        <InputText id="address1" class="form-control" @bind-Value="testator.Address" />
    </div>
</EditForm>

<h5>Person 2</h5>
<EditForm Model="secondPerson" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="firstName2" class="form-label">Fornavn</label>
        <InputText id="firstName2" class="form-control" @bind-Value="secondPerson.FirstName" />
    </div>
    <div class="mb-3">
        <label for="lastName2" class="form-label">Efternavn</label>
        <InputText id="lastName2" class="form-control" @bind-Value="secondPerson.LastName" />
    </div>
    <div class="mb-3">
        <label for="dateOfBirth2" class="form-label">Fødselsdag</label>
        <InputDate id="dateOfBirth2" class="form-control" @bind-Value="secondPerson.DateOfBirth" />
    </div>
    <div class="mb-3">
        <label for="address2" class="form-label">Adresse</label>
        <InputText id="address2" class="form-control" @bind-Value="secondPerson.Address" />
    </div>
</EditForm>

@code {
    private Testator testator = new Testator();
    private Person secondPerson = new Person();

    private void HandleValidSubmit()
    {
        // Handle form submission for Joint Will
    }
}

