@using Arvefordeleren_ClassLibrary.Models

<h3>Indtast dine personoplysninger</h3>

<div class="row mb-3">
    <div class="col-2">
        <label class="col-form-label">Testamente type</label>
    </div>
    <div class="col-6">
        <!-- InputRadioGroup med Name property -->
        <InputRadioGroup @bind-Value="testator.WillType">
            <div class="form-check">
                <InputRadio Value="WillType.Individual" class="form-check-input" />
                <label class="form-check-label">Testamente til mig selv</label>
            </div>
            <div class="form-check">
                <InputRadio Value="WillType.Joint" class="form-check-input" />
                <label class="form-check-label">Fælles testamente</label>
            </div>
        </InputRadioGroup>
    </div>
</div>


@code 
{
    private Testator testator = new Testator();

  
   
}
