@using System.ComponentModel.DataAnnotations
@using Arvefordeleren_ClassLibrary.Models

<h3>TestatorComponent</h3>
<EditForm Model ="@Testator" OnInvalidSubmit="@HandleValid">

</EditForm>

@code {
    

}
