@page "/"

<PageTitle>Hjem</PageTitle>

@* Hero Title *@
<section>
    <div class="mx-auto my-5 d-flex align-items-center justify-content-center"
        style="background-color: #F5F5F5; height: fit-content; border-radius: 2px; width: 90%; padding: 125px 0px 125px 0px;">
        <div class="d-flex flex-column gap-3">
            <h1 class="text-center" style="font-weight: bolder; font-size: 72px;">Arvefordeleren</h1>
            <h2 class="text-center">Visualisér dit testamente</h2>
            <div class="text-center">
                <button class="btn btn-primary px-5" style="background-color: black;">Kom i gang!</button>
            </div>
        </div>
    </div>
</section>

@* Panel Image Content *@
<section>

</section>


