@page "/arvefordeling"

@layout InformationLayout
<div style="width: 35%;">
    <h3 class="fw-bold">Fordeling af fri- og tvangsarvs</h3>
    <hr class="mt-0"/>
</div>

<br />
<ForcedInheritance />

<hr />
<br />
<SharedInheritance />

@code {

}
