@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@page "/fritvangsarv"

@layout InformationLayout

@inject TestatorService TestatorService

@if (!testators.Any())
{
    <h3>Udfyld personoplysninger først!</h3>
}
else
{
    <div style="width: 35%;">
        <h4 class="fw-bold">Fordeling af fri- og tvangsarvs</h4>
      
        <hr style="width:85%; "/>
    </div>

    <br />
    <ForcedInheritance />

    <hr />
    <br />
    <SharedInheritance />
}
<a  href="/arvefordeling" class="btn btn-primary" role="button">Se min arvefordeling</a>


@code {
    List<Testator> testators = new List<Testator>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        testators = await TestatorService.GetAll();
        StateHasChanged();
    }
}
