.d-flex {
    flex: 1;
    overflow: hidden;
}
.playerground-container {
    height: 100vh;
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
    overflow-y: auto;
    height: 100%;
}

.content {
    overflow-y: auto;
}

.asset-list {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
}